<div class ="main">
    <form #RequestResetForm=ngForm (ngSubmit)='onSubmitReset()'>
   
    <div class="resetpassword">
        <br/>
        <h3 style="color:black;text-align: center;font-size: 30px;" >Reset Password</h3>
        <p>New Password<input type="text" placeholder="New Password" name="newPassword">
        </p>
        <p>Confirm Password<input type="text" placeholder="Confirm Password" name="newPasswordConfirm">
        </p>
        <div>
            <button class="btn" type="submit" >Reset Password</button>
        </div>
        <br>
    </div>
</form>

</div>
