*{  
    margin: 10;
    padding: 0;
  
}
body{
    
    width: 1350px;
    background-color: #112d42;
}


.image{
    position: relative;
    overflow: hidden;
}
.image.image1{
    width: 420px;
    height: 400px;
    float: left;
    border-radius: 50%;
    margin: 15px;
    shape-outside: circle();
}
.image.image2{
    width: 300px;
    height: 300px;
    float: right;
    border-radius: 50%;
    margin: 20px;
    shape-outside: circle();
    
}
.image img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
section h4{
    color: white;
    font-size: 1.5em;
    line-height: 40px;    
}
.text{
    text-align: center;
    color: white;
    font-size: 1.5em;
    
}

.container1{
    display: flex;
    flex-wrap:wrap ;
    justify-content: space-between;
    
}
.container1 .box{
    position: relative;
    width: 350px;
    padding: 40px;
    background: #fff;
    box-shadow: 0 5px 15px rgba(0, 0, 0,.1);
    border-radius: 4px;
    margin: 20px;
    box-sizing: border-box;
    overflow: hidden;
    text-align: center;
}
.container1 .box::before{
    content: '';
    width: 50%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(255,255,255,.2);
    z-index: 2;
    pointer-events:none ;
}
.container1 .box .icon{
    position: relative;
    width: 80px;
    height: 80px;
    color: #ffffff;
    background: #000000;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    border-radius: 50%;
    font-size: 40px;
    font-weight: 700;
    transition: 1s;
}
.container1 .box:nth-child(1) .icon{
    box-shadow: 0 0 0 0 #587058;
    background: #587058;
}
.container1 .box:nth-child(1):hover .icon{
    box-shadow: 0 0 0 400px #587058;
}
.container1 .box:nth-child(2) .icon{
    box-shadow: 0 0 0 0 #587498;
    background: #587498;
}
.container1 .box:nth-child(2):hover .icon{
    box-shadow: 0 0 0 400px #587498;
}
.container1 .box:nth-child(3) .icon{
    box-shadow: 0 0 0 0 #E86850;
    background: #E86850;
}
.container1 .box:nth-child(3):hover .icon{
    box-shadow: 0 0 0 400px #E86850;
}
.container1 .box .content{
    position: relative;
    z-index: 1;
    transition: 0.5s;
    
}
.container1 .box:hover .content{
    color: #fff;

}
.container1 .box .content h3{
    font-size: 20px;
    margin: 10px 0;
    padding: 0;
}
.container1 .box .content p{
    margin: 0;
    padding: 0;
}
a{
    display: inline-block;
    padding: 10px 20px;
    background: #fff;
    border-radius: 4px;
    text-decoration: none;
    color: #000000;
    font-weight: 500;
    margin-top: 20px;
    box-shadow: 0 2px 5px rgba(0,0,0,.2);
}
.container2{
    margin: 20px 40px;
    color: white;
}
.text2{
    text-align: center;
    color: black;
    font-size: 1.5em;
}
.text3{
    text-align: center;
    color: black;
    font-size: 1.2em;
}
.heading span{
    font-style: italic;
    font-size: 30px;
}
.profiles{
    display: flex;
    justify-content: space-around;
    margin: 30px 80px;
}
.profile{
    flex-basis: 260px;
}
.profile .profile-img{
    height: 260px;
    width: 260px;
    border-radius: 50%;
    filter: grayscale(100%);
    cursor: pointer;
    transition: 400ms;
    margin: 30px;
}
.profile:hover .profile-img{
    filter: grayscale(0);
}
.user-name {
   margin-left: 100px;
    font-size: 1.5em;
}
.profile h5{
    font-size: 18px;
    font-weight: 100;
    letter-spacing: 3px;
    color: #ccc;
}
.container3{
    position: relative;
    display:flex;
    justify-content: center;
    align-items: center;
    height: 400px;
    background: #112d42;
    width: 1000px;
    margin-bottom: 70px;
}


.container4{
    position: relative;
    width: 100%;
    padding-bottom: 10px;
    top: 200%;
    margin-top: 200px;
    transform: translateY(-50%);
    text-align: center;
    height: 250px;
   
}

.contact-method{
    width: 220px;
    height: 140px;
    display: inline-block;
    background: #3498db;
    margin: 100px;
    color: #fff;
    position: relative;
    cursor: pointer;
}
.contact-method i{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    font-size: 30px;
    line-height: 140px;
    background: #34495e;
    z-index: 1;
    transition: transform 0.6s;
}
.contact-method span{
    position: absolute;
    width: 100%;
    left: 0;
    bottom: 0;
    padding: 10px 0;
}
.contact-method:hover i{
    transform: translateY(-40px);
}