<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css">
<div class="main">
    <section>
        <div class="second">
            <div class="image image1">

                <img src="assets/office2.jpg">
            </div>
            <div class="image image2">
                <img src="assets/office.jpg">
            </div>
            <div class="text3" style="color: black;">
                <h2>Why Choose Us?</h2>
            </div>
            <div>

                <h5 style="color: black; text-align: justify;">Creating a home is one of the most meaningful activities of a life time.
                     The care and love with which every brick 
                    is laid is important.
                    The walls capture all the memories. Presence of the loved the ones, the first sketch of your children, 
                    their footsteps.
                    Smell of the best food. If memories were pictures, homes are like frames.<br>
                    LTI Home Loans provide you with the best experience and convenient methods to get you,
                     your own place. With the best interest rates in town. Fastest service you can get. Customer service 
                     is just a call away with our executives ready to help you 24x7. Come, lets make your home together!  
                    <br><br>
                    "Home is where the heart is"   -Elvis Presley<br>


                    
                    </h5>

            </div>
        </div>
        <br><br>
        <div class="text" style="color: black;">
            <h2 style="text-align: center;">SERVICES WE PROVIDE</h2>
        </div>
        <div class="container1">
            <div class="box">
                <div class="icon">01</div>
                <div class="content">
                    <h3>Best Rates</h3>
                    <p>We offer the best rates to facilitate you to get your dream home at the lowest cost.
                    </p>
                    <a href="#">Read More</a>
                </div>

            </div>
            <div class="box">
                <div class="icon">02</div>
                <div class="content">
                    <h3>Simple Process</h3>
                    <p> The process is as simple as it gets, with experts to guide you at every step.
                    </p>
                    <a href="#">Read More</a>
                </div>

            </div>
            <div class="box">
                <div class="icon">03</div>
                <div class="content">
                    <h3>Lightning Fast Service</h3>
                    <p>No matter what problem our executives are there for your rescue.
                    </p>
                    <a href="#">Read More</a>
                </div>

            </div>
        </div>

        <!--MEET THE TEAM -->
        <div class="container2">
            <div class="text2">
                <h2>Meet Our Team</h2>
            </div>
            <div class="profiles" style="color: black;">
                <div class="profile">
                    <img src="assets/Sanjeet.jpeg" class="profile-img">

                    <h3 class="user-name">Sanjeet Shandilya</h3>
                    <h3 class="user-name">Team Lead</h3>
                </div>

                <div class="profile">
                    <img src="assets/Sayan.jpg" class="profile-img">

                    <h3 class="user-name">Sayan Saha</h3>
                    <h3 class="user-name">Developer</h3>
                </div>

                <div class="profile">
                    <img src="assets/Mitadru.jpg" class="profile-img">

                    <h3 class="user-name">Mitadru Bhuiya</h3>
                    <h3 class="user-name">Developer</h3>
                </div>

            </div>


        </div>
    </section>

    <!--CONTACT US-->

    <div class="container4">

        <div class="text3">
            <h2 style="padding-top: 70px;">Contact Us</h2>
        </div>
        <div class="contact-method">
            <i class="fas fa-envelope"></i>
            <span>github.com/catalansGroup7</span>
        </div>

        <div class="contact-method">
            <i class="fas fa-mobile-alt"></i>
            <span>01722-31551</span>
        </div>

        <div class="contact-method">
            <i class="fas fa-map-marker-alt"></i>
            <span>Mahape, Navi Mumbai, India</span>
        </div>

    </div>
</div>