<div class="sidebar">
    <h4 style="text-align: center; color: white;"><i class="fa fa-user-circle"></i>{{customerName}} {{customer.customerLastName}}</h4>

    <a routerLink='/viewUserLink'><i class="fa fa-fw fa-user"></i><span>Myprofile</span></a>
      <a routerLink='/updateUserProfile'><i class="fa fa-id-card"></i><span>Update profile</span></a>
     
      <a routerLink='/loanapplicationlink'><i class="fa fa-bank"></i><span>Apply Loan</span></a>
      <a routerLink="/trackApplication"><i class="fa fa-check"></i><span>Application status</span></a>
      <a routerLink="/viewLoanDetails"><i class="fa fa-inr"></i><span>EMI Details(If any)</span></a>
      <a routerLink="/checklistLink"><i class="fa fa-cog"></i><span>Generate Checklist</span></a> 
</div>
<div class = "background">
<div class="profilecard">
    <div class="cimage">
    <img  src="assets/userProfilePic.png" style="width: 15%; height :20%;display: block;margin-left: auto;margin-right: auto;padding-top: 10px;">
    </div>
    <div class="content">
    <p><b class="lab">FirstName:</b><b class="val pull-right" >{{ customer.customerFirstName }}</b> </p><br>
    <p><b class="lab">LastName :</b><b class="val pull-right">{{ customer.customerLastName }}</b></p><br>
    <p><b class="lab">Date Of Birth: </b><b class="val pull-right">{{ customer.customerdateOfBirth }}</b></p><br>
    <p><b class="lab">Email :</b><b class="val pull-right">{{ customer.customerEmail}}</b></p><br>
    <p><b class="lab">City :</b><b class="val pull-right">{{ customer.customerCity}}</b></p><br>
    <p><b class="lab">Employment Type :</b><b class="val pull-right">{{ customer.customerEmploymentType}}</b></p><br>
    <p><b class="lab">Contact Number:</b><b  class="val pull-right">{{ customer.customerMobileNumber}}</b></p><br>
   
    <!-- <p *ngIf='message=="Rejected"'><b class="lab">Reason:</b><b class="val pull-right">{{ reason }}</b></p><br>
    </div>  -->
</div>
</div>