<div class = "background">
<div class ="main">
    <form (ngSubmit)="loginAdmin()" ngNativeValidate>
   
    <div class="admin">
        <h3 style="color:#ac3831;text-align: center;font-size: 30px;" >Welcome  Admin</h3>
        
        <input type="text" placeholder="Enter UserId" id="uid" name="uid" [(ngModel)]=login.adminId (keypress)='isNumber($event,"uid",10)' required>
        <br>
        <input type="password" placeholder="Enter Password" id="psw" name="psw" [(ngModel)]=login.password required>
        <br>
        <div>
            <button class="btn" type="submit" >Login</button>
        </div>
        <br> 
        <h2>{{message}}</h2> 
    </div>
</form>

</div>
</div>