<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
</head>

<body>
    <a href="index.html">
        <img src="assets/banklogo1.png" style="float: left; width: 100px; height: 50px; border-bottom: 3px solid black; border-top: 3px solid black; border-left: 3px solid black;"></a>

    <div>
        <div class="navbar">
            <a routerLink='/infoLink'>About Us</a>
            <a routerLink='/calculatorLink'>Calculator</a>
            <a routerLink='/FaqLink'>FAQs</a>
            <a routerLink='/registerLink' *ngIf='!flag'>Sign up</a>
            <!-- ngIf !session -->

            <div class="dropdown">
                <button class="dropbtn" *ngIf='!flag'>Login
              <i class="fa fa-caret-down"></i>
        
            </button>
                <div class="dropdown-content">
                    <a routerLink='/loginLink' style="text-align: center;">User</a>
                    <a routerLink='/adminLink' style="text-align: center;">Admin</a>

                </div>


            </div>
            <a routerLink='{{routerLink}}' *ngIf='flag'>Dashboard</a>
            <a routerLink='/infoLink' style="float: right;" (click)='logOut()' *ngIf='flag'>LogOut</a>
        </div>


    </div>
    <div>
        <router-outlet></router-outlet>
    </div>
    <div class="footer">
        <p>© 2020 Larsen & Toubro Infotech Bank Limited</p>
    </div>
</body>

</html>