<div class="main">
    <form #forgotPasswordForm='ngForm'>

        <div class="formcontainer" *ngIf="show" style="text-align: center;">
            <h2 class="titleHead" style="text-align: center;">Forgot password?
            </h2><br/><br/>
            <div *ngIf="show">
                <label style="text-align: center;"><b>Enter your registered email</b></label><br><br>
                <input type="email" placeholder="Enter the email" name="userEmail" required [(ngModel)]="forgotPasswordDetails.email" #userEmailControl="ngModel">
                <span style="color: #ac3831;" *ngIf="userEmailControl.invalid && userEmailControl.touched"> 
    <b>Email is required!</b>

    </span><br><br>
                <button class="btn" type="submit" [disabled]="forgotPasswordForm.invalid" (click)="getOTP()">Get OTP </button><br><br>
            </div>
            <span style="color: #ac3831;">
            <b>{{message}}</b>
            </span>
        </div>
        <div class="formcontainer1" *ngIf="show1" style="text-align: center; margin: 20px;">

            <div *ngIf="show1" class="heading">
                <br/><br/>
                <label><b>Enter the OTP sent to your registered email</b></label><br><br>
                <input type="number" placeholder="Enter the OTP" name="userOTP" required [(ngModel)]="forgotPasswordDetails.otp" #userOTPControl="ngModel">
                <span style="color: #ac3831;" *ngIf="userOTPControl.invalid && userOTPControl.touched"> 
                     <b>OTP is required!</b>

                </span><br><br>
                <button class="btn" type="submit" [disabled]="forgotPasswordForm.invalid" (click)="verifyOTP()">Verify OTP </button><br><br>

            </div>
            <span style="color: #ac3831;text-align: center;">
            <b>{{message1}}</b>
            </span>
        </div>



        <div class="formcontainer2" *ngIf="show2" style="text-align: center;margin: 20px;">
            <div *ngIf="show2" style="padding-top: 20px;" class="heading">

                <label><b>Enter the new password</b></label><br><br>
                <input type="password" placeholder="Enter Password " name="userPass" pattern="^(?=.*?[A-Z])(?=.*?[a-z])(?=.*?[0-9])(?=.*?[$,@,!]).{8,}$" required [(ngModel)]="forgotPasswordDetails.newPassword" #newUserPasswordControl="ngModel"><br><br>
                <span style="color: #ac3831;" *ngIf="newUserPasswordControl.invalid && newUserPasswordControl.touched"> 
    <b>Password is required!</b>

    </span><br><br>

                <label><b>Confirm the new password</b></label><br><br>
                <input type="password" placeholder="Enter Password " name="userPass1" pattern="^(?=.*?[A-Z])(?=.*?[a-z])(?=.*?[0-9])(?=.*?[$,@,!]).{8,}$" required [(ngModel)]="forgotPasswordDetails.newPasswordConfirm" #newUserPasswordConfirmControl="ngModel"><br>
                <span style="color: #ac3831;" *ngIf="newUserPasswordConfirmControl.invalid && newUserPasswordConfirmControl.touched"> 
    <b>Password is required!</b>

    </span><br><br>

                <button class="btn" type="submit" [disabled]="forgotPasswordForm.invalid" (click)="resetPassword()">Reset Password</button>
            </div>
            <span style="color:#ac3831;text-align: center;">
            <b>{{message2}}</b>
            </span>

        </div>
        <div class="formcontainer3" *ngIf="show3">
            <br><br><br>
            <div *ngIf="show3" class="heading" style="text-align: center;">
                <h2>Password Reset successfully.</h2>

            </div>
        </div>
        </form>
</div>