
<div class="sidebar">
    <h4 style="text-align: center; color: white;"><i class="fa fa-user-circle"></i>{{customerName}} {{customerSurname}}</h4> 

    <a routerLink='/viewUserLink'><i class="fa fa-fw fa-user"></i><span>Myprofile</span></a>
      <a routerLink='/updateUserProfile'><i class="fa fa-id-card"></i><span>Update profile</span></a>
     
      <a routerLink='/loanapplicationlink'><i class="fa fa-bank"></i><span>Apply Loan</span></a>
      <a routerLink="/trackApplication"><i class="fa fa-check"></i><span>Application status</span></a>
      <a routerLink="/viewLoanDetails"><i class="fa fa-inr"></i><span>EMI Details(If any)</span></a>
      <a routerLink="/checklistLink"><i class="fa fa-cog"></i><span>Generate Checklist</span></a> 
</div>
<div class = "background">
<div class="profilecard" *ngFor='let l of loanDetails'>
    
    <div class="cimage">
    <img  src="assets/userProfilePic.png" style="width: 15%; height :20%;display: block;margin-left: auto;margin-right: auto;padding-top: 10px;">
    </div>
    <div class="content" >
        <p><b class="lab">Loan Account ID:</b><b class="val pull-right">{{ l.loanId }}</b> </p><br>
        <p><b class="lab">CustomerID :</b><b class="val pull-right">{{ l.customerId }}</b></p><br>
        <p><b class="lab">Interest Rate of your Loan: </b><b class="val pull-right">{{ l.interestRate }}</b></p><br>
        <p><b class="lab">Tenure of your Loan:</b><b class="val pull-right">{{ l.tenure}}</b></p><br>
        <p><b class="lab">Amount Sanctioned:</b><b class="val pull-right">{{ l.loanAmount}}</b></p><br>
        <p><b class="lab">EMI Start Date :</b><b class="val pull-right">{{ l.emiStartDate}}</b></p><br>
        <p><b class="lab">EMI End Date :</b><b class="val pull-right">{{ l.emiEndDate}}</b></p><br>
        <p><b class="lab">EMI Amount:</b><b class="val pull-right">{{l.emiAmount}}</b></p><br>
    </div>
    
</div>