<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>

<body>
    <section>
        <div class="container">
            <div class="accordion">
                <img src="../../assets/homeLoanFaq1.jpg" style="width:100%;height:220px;">
                <div class="accordion-item">
                    <div>
                        <h3 style="text-shadow: black 2px 2px 10px;"><b>FAQs</b></h3><br /> LTI Bank FAQs support users by catering to doubts regarding loan issues, EMI and documents related to the approval of the loan. Information regarding monthly EMI,total loan eligilibity and emergency assistance
                        is also available. Users can access their balance and change user details in the dashboard portal.
                    </div><br />
                    <h3 class="title">Frequently Asked Questions</h3>
                    <div class="faq-container">
                        <dl class="faq">
                            <dt>
                <button aria-expanded="false" aria-controls="faq1_desc">
                 Q :- How do I apply for a home Loan?

                </button>
              </dt>
                            <dd>
                                <p id="faq1_desc" class="desc">
                                    Home loan application can be made online with online application feature on home loan portal.To Apply now Click: <a href="/homeLink" style="color:Black;"><b>Apply now.
                    </b> </a>
                                </p>
                            </dd>
                            <dt>
                <button aria-expanded="false" aria-controls="faq2_desc">Q :- What is the maximum home loan that I can obtain?

                </button>
              </dt>
                            <dd>
                                <p id="faq2_desc" class="desc">
                                    You can avail 75%- 90% of the property cost as a home loan.You can also avail upto 60% of the monthly income.To know more about exact amount please check your eligibity here: <a href="/calculatorLink" style="color:Black;"><b>Eligibility Calculator</b></a>

                                </p>
                            </dd>
                            <dt>
                <button aria-expanded="false" aria-controls="faq3_desc">Q :- How will Bank decide the home loan amount i am eligible for?
                </button>
              </dt>
                            <dd>
                                <p id="faq3_desc" class="desc">
                                    Among the multiple factors that Axis Bank considers in determining Home Loan eligibility are:
                                    <br /> Income of Applicant.<br /> Age of Applicant.<br /> Repayment Capacity<br /> Number of dependants<br /> Other important factors include your qualification,your spouse's income (if any) , assets and liabilities,savings
                                    history and the stability and continuity of occupation.To check your eligibility online, click <a href="/calculatorLink" style="color:Black;"><b>Eligibility Calculator
                    </b> .</a>
                                </p>
                            </dd>
                            <dt>
                <button aria-expanded="false" aria-controls="faq4_desc">Q :- How do I update my mobile number and the email address

                  registered under my Home Loan account?

                </button>
              </dt>
                            <dd>
                                <p id="faq4_desc" class="desc">
                                    You may update your mobile number and email address by login in on Website and go on dashboard and there you can update your details.

                                </p>
                            </dd>
                            <dt>
                <button aria-expanded="false" aria-controls="faq5_desc">Q :- What documents do I need to submit along with my application for a Home Loan?
                </button>
              </dt>
                            <dd>
                                <p id="faq5_desc" class="desc">
                                    The Documents to be submitted along with your Home Loan application are as follow:-
                                    <br /> Pan Card<br /> Aadhar Card<br /> Salary Slip <br /> LOA 
                                </p>
                            </dd>
                            <dt>
                <button aria-expanded="false" aria-controls="faq6_desc">Q :- Do I need to pay a fee to apply for an LTI Bank Home Loan?
                </button>
              </dt>
                            <dd>
                                <p id="faq6_desc" class="desc">
                                    Yes. Total Processing fees of 1% of the outstanding principal with a minimum of Rs. 50,00 plus GST as applicable will be charged. Upfront processing fee of Rs 2000 plus GST shall be collected at the time of application login. This fee will not be refunded
                                    under any circumstances such as loan rejection/withdrawal of the loan application etc., non disbursement of loan for the reasons solely attributable to the customer. Balance processing fee as applicable shall be collected
                                    at the time of loan disbursement.
                                </p>
                            </dd>

                            <dt>
                <button aria-expanded="false" aria-controls="faq7_desc">Q :- Is it mandatory to have a co-applicant when applying for a Home Loan and who can be a
                  co-applicant?</button></dt>
                            <dd>
                                <p id="faq7_desc" class="desc">
                                    Yes, it is mandatory to have a co-applicant. If someone is the co-owner of the property in question, it is necessary that he/she also be the co-applicant for the Home Loan. If you are the sole owner of the property, any member of your immediate family
                                    can be your co-applicant
                                </p>
                            </dd>

                            <dt>
                <button aria-expanded="false" aria-controls="faq8_desc">Q :- When is my EMI due? </button>
              </dt>
                            <dd>
                                <p id="faq8_desc" class="desc">The EMI will be due on a fixed date each month. This date will be notified when your loan is disbursed.
                                </p>
                            </dd>
                            <dt>
                <button aria-expanded="false" aria-controls="faq9_desc">Q :- Do I get a tax benefit on my LTI Bank Home Loan?
                </button>
              </dt>
                            <dd>
                                <p id="faq9_desc" class="desc">
                                    Yes, resident Indians are eligible for tax benefits on both the principal and the interest of a Home Loan under the Income Tax Act. Please consult your tax advisor for details</p>
                            </dd>
                            <dt>
                <button aria-expanded="false" aria-controls="faq10_desc">Q :- My tenure and interest rate have been increased and I would like to increase my
                  EMI and reduce the tenure.Will I be charged for this change?</button>
              </dt>
                            <dd>
                                <p id="faq10_desc" class="desc">Each Home Loan applicant's EMI is decided upon his/her repayment capability. In order to enable us to reassess your EMI, you will need to submit the following documents at an LTI Bank Loan Center:<br /> Last 3 months' salary
                                    slip.
                                    <br /> Last 6 months' bank statements reflecting your salary.<br /> Your photo identity and address proof.<br /> A letter requesting the change<br /> Currently, LTI Bank levies no charge to increase the EMI.
                                </p>
                            </dd>
                            <dt>
                <button aria-expanded="false" aria-controls="faq11_desc">Q :- How will be my loan priced? Or how my loan effective ROI will get calculated??
                </button>
              </dt>
                            <dd>
                                <p id="faq11_desc" class="desc">
                                    All floating rate loans will be linked to Repo Rate. The rate offered to you shall be the Repo rate plus spread. It may be noted that the Repo rate would be reset every three months. Further, the Bank shall have absolute right to decide and apply the
                                    spread over the Repo Rate, Spread shall consist of credit risk premium (which is subject to change in case there is substantial change in the Borrower's credit assessment as agreed in the Loan Agreement), operating
                                    costs and other costs. The same will be reset periodically once in three years from the date of disbursement. The credit risk premium of the borrower shall be reviewed by the bank at regular intervals and shall undergo
                                    a revision in case of a substantial change in the borrower's credit assessment. </p>
                            </dd>
                        </dl>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section>
        <div class="container">
            <div class="accordion">
                <img src="../../assets/1.jpg" style="width: 100%;;height:250px;">
                <div class="accordion-item">
                    <div class="row">
                        <div class="column" style="width:500px;text-align: center;margin: 4px;padding: 50; ">
                            <h6>CONTACT US</h6>
                            <p style="font-size: 15px;">Call : 1800-143-7654 <br /> Call : 1800-123-4324
                            </p>
                        </div>

                        <div class="column" style="width:500px;text-align: center;margin: 4px;padding: 50;">
                            <h6>OTHER LINKS</h6>
                            <p style="font-size: 15px;"><a href="/infoLink" style="color:Black;">About us</a><br />
                                <a href="/calculatorLink" style="color:Black;">Eligibility Calculator</a> </p>
                        </div>
                    </div>
                    <p style="font-size: 15px;text-align: center;">
                        Please do not believe any entity using LTI Bank logos & branding to request the public for money in exchange for opening a Customer Service Point.<br />
                        <br /> Always use the customer care numbers displayed on Bank's official website. Do not access unknown website links.
                        <br />
                        <br /> RBI: Beware of Fictitious Offers/Lottery Winnings/Cheap Fund Offers.
                    </p>
                </div>
            </div>
        </div>
    </section>
</body>

</html>